Define a function that accepts a number and returns whether the number is even or odd.

In [ ]:
def num(n):

  if n%2==0:
    print("number is even")

  else:
    print("number is odd")

In [ ]:
num(7)

number is odd

In [ ]:
num(2)

number is even

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def square():
  l=list()

  for i in range(1,31):
    l.append(i**2)
  print(l)

In [ ]:
square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [ ]:
def shut_down(s):

  if s=='yes':
    print("shutting down")
  
  elif s=='no':
    print("shutdown aborted")

  else:
    print("sorry")

In [ ]:
shut_down("yes")

shutting down

 

Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [ ]:
def by_three(n):

  if n%3==0:
    print(n*n*n)

  else:
    pass

In [ ]:
by_three(9)

729

In [ ]:
by_three(5)

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [ ]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  print(x)

In [ ]:
unique_list([3,4,5,3,4,5,7,9])

[3, 4, 5, 7, 9]